@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden !important;
  font-size: 62.5% !important;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}
